@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto';
}
.card_location{
    display: grid;
    grid-template-columns: 300px 300px;
    background-color:rgba(40, 35, 35, 0.5);
   border: none ;
   box-sizing: border-box;
   padding: 1rem;
   justify-content: center;
   align-items: center;
    margin: 0 auto;
    gap: 1rem;
    text-align: center;
    border-radius: 1rem;
    color: gray;
    position: relative;
    font-weight: bolder;
   
}
.animate-bg:before, .animate-bg:after {
	content: '';
	position: absolute;
	left: -8px;
	top: -8px;
	background: linear-gradient(120deg, #79fb00, #8d01a0, #031ba5,#ff004c,  
	#e6036d, #fb0094,#ff6600, #04c2e4,#adad02, #00c3ff);
	background-size: 300%;
	width: calc(100% + 16px);
	height: calc(100% + 16px);
	z-index: -1;
	animation: BGgradient 15s ease infinite; 
    border-radius: 1rem;
}

@keyframes BGgradient {
	0% {
		background-position: 0% 200%;
	}
	50% {
		background-position: 200% 0%;
	}
	100% {
		background-position: 0% 330%;
	}
}

.animate-bg:after {
	filter: brightness(1.4);
	filter: drop-shadow(16px 16px 20px rgb(248, 220, 97));
	filter: blur(15px);
}
span{
    font-weight: bolder;
    color: white;
}

.container_location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
}